<div id="cast_staff" class="cast_staff main_content text-center">
  <h3>Cast</h3>

  <div class="row">
    <div class="cast1 col-md-3 col-md-offset-2 text-left">
      <div class="cast1-image"></div>

      <p>
        <strong>役1/役2</strong><br>
        大物ベストセラー作家。<br>
    	出版する本はすべてベストセラーになるほどの売れっ子作家だった彼だが…。
      </p>

      <p>
    	<strong>actor1</strong><br>
    	19XX年生まれ。代表作にドラマ「title1」(XX)、「title2」(XX)、
    	「title3」(XX)、映画「title4」(XX)、「title1」(XX)など。
      </p>
    </div>

    <div class="cast2 col-md-3 col-md-offset-2 text-left">
      <div class="cast2-image"></div>

      <p>
    	<strong>役1/役2</strong><br>
    	大物ベストセラー作家の大ファン。<br>
    	父の遺品である壊れた懐中時計が彼の体に触れた瞬間に…。
      </p>

      <p>
    	<strong>actor2</strong><br>
    	19XX年生まれ。代表作にドラマ「title1」(XX)、「title2」(XX)、「title3」(XX)、映画「title4」(XX)、「title1」(XX)など。
      </p>
    </div>
  </div>

  <div class="row">
	<div class="cast3 col-md-3 col-md-offset-2 text-left">
	  <div class="cast3-image"></div>

	  <p>
    	<strong>役1/役2</strong><br>
    	謎のゴーストライター。<br>
    	すべてがベールに包まれている謎の人物。
      </p>

      <p>
    	<strong>actor3</strong><br>
    	2XXX年生まれ。代表作にドラマ「title1」(XX)、「title2」(XX)、「title3」(XX)、映画「title4」(XX)、「title1」(XX)など。
      </p>
	</div>

	<div class="cast4 col-md-3 col-md-offset-2 text-left">
	  <div class="cast4-image"></div>

	  <p>
    	<strong>役1/役2</strong><br>
    	小説家。ベストセラー作家のライバルであり、文壇の2代アイドル。<br>
    	いつもベストセラー作家と比較されるため嫉妬と劣等感、
    	憤怒の感情に囚われている。
      </p>

      <p>
    	<strong>actor4</strong><br>
    	19XX年生まれ。代表作にドラマ「title1」(XX)、「title2」(XX)、「title3」(XX)、映画「title4」(XX)、「title1」(XX)など。
      </p>
	</div>
  </div>

  <h3>Staff</h3>
  <p>
	【演出】<span>演出家</span>「title1」 
	x 
	【脚本】<span>脚本家</span>「title2」
  </p>
</div>