<div class="row">
  <div id="gallery" class="gallery main_content">
    <h3>Gallery</h3>

    <div class="gallery-images col-md-8 col-md-offset-2">
    	<div class="gallery-image1"></div>
    	<div class="gallery-image2"></div>
    	<div class="gallery-image3"></div>
    	<div class="gallery-image4"></div>
    	<div class="gallery-image5"></div>
    	<div class="gallery-image6"></div>
    </div>
  </div>
</div>