<div id="introduction" class="introduction main_content text-center">
  <div class="row">
  	<h3>Introduction</h3>
    <h4>時を越えた運命の出会いー</h4>

    <div class="intro_actor1 col-md-2 col-md-offset-1"></div>
    <div class="intro_actor2 col-md-2 col-md-offset-1"></div>
    <div class="intro_actor3 col-md-2 col-md-offset-1"></div>
  </div>

  <div class="intro_actor text-center">
    <h5>
      [若手実力派No.1] <strong>actor1</strong> 
      x [国民的女優] <strong>actor2</strong> 
      x [次世代俳優] <strong>actor3</strong> 
      豪華共演！
    </h5>

    <p>
      「title1」「title2」など映画やドラマの数々で演技を褒められてきた若手実力派俳優actor1と、<br>
      「title3」以来6年ぶりのドラマ出演となる国民的女優actor2、<br>
      そして「title4」に出演し日本のファンを魅了した次世代注目俳優actor3が集結し豪華共演が実現！
    </p>

    <h5>
      過去と現在ー二つの時代をつなぐ運命的な物語を描く
    </h5>

    <p>
      スランプに陥ったベストセラー作家と謎のゴーストライター、そしてー<br>
      二つの時代を背景に、１通の手紙に絡んだ3人の物語。
    </p>

    <h5>
      「title5」脚本家 x「title6」監督 x 「title7」音響監督<br>
      最強タッグがドラマチックな物語を盛り上げる！
    </h5>

    <p>
      「title5」を手掛けた脚本家と「title6」のプロデューサーが<br>
      タッグを組み、さらには20XX年大ヒットドラマ「title7」でOST旋風を起こした<br>
      音響監督が本作OSTに携わり、アンティークで神秘的なドラマの雰囲気を盛り上げる。
    </p>
  </div>

  <div class="intro_image row">
    <div class="intro_image1 col-md-2 col-md-offset-1"></div>
    <div class="intro_image2 col-md-2 col-md-offset-1"></div>
    <div class="intro_image3 col-md-2 col-md-offset-1"></div>
    <div class="intro_image4 col-md-2 col-md-offset-1"></div>
  </div>
</div>