<div id="product_oa" class="product_oa main_content text-center">
  <h3>DVD<span>&</span>OA</h3>

  <div class="sell">
    <p class="product_oa_title">
	  Sell セル<br>
	  [全2BOX/全22話]
    </p>

    <div class="line text-center">
      <p>・-・-・-・-・-・-・</p>
    </div>

    <div class="sell_1 row">
      <div class="dvd col-md-1 col-md-offset-5">
	  	<div class="dvd_image"></div>
	  </div>

	  <div class="dvd_intro col-md-6 text-left">
	  	<p>
	  	  <strong>DVD-BOX1</strong>
	  	  20XX年<span>3</span>月<span>2</span>(金)発売<br>
	  	  ￥15,000+税<br>
	  	  6枚組 (第1話〜第11話収録)<br>
	  	  ●封入特典<br>
	  	  ・ストーリーブック<br>
	  	  ●特典映像<br>
	  	  ・特番<完全版><br>
	  	</p>
	  </div>
	</div>

	<div class="sell_2 row">
	  <div class="dvd col-md-1 col-md-offset-5">
	  	<div class="dvd_image"></div>
	  </div>

	  <div class="dvd_intro col-md-6 text-left">
	  	<p>
	  	  <strong>DVD-BOX2</strong>
	  	  20XX年<span>4</span>月<span>4</span>(金)発売<br>
	  	  ￥15,000+税<br>
	  	  6枚組 (第12話〜第22話収録)<br>
	  	  ●封入特典<br>
	  	  ・ストーリーブック<br>
	  	  ●特典映像<br>
	  	  ・メイキング<br>
	  	</p>
	  </div>
	</div>
  </div>

  <div class="rental">
	<p class="product_oa_title">
	  Rental レンタル<br>
	  [全12巻/全22話]
    </p>

    <div class="line text-center">
      <p>・-・-・-・-・-・-・</p>
    </div>

	<p>
	  vol.<span>1〜6</span>(第1話〜第11話収録) 
	  20XX年<span>3</span>月<span>2</span>(金)レンタル
	</p>

	<p>
	  vol.<span>7〜12</span>(第12話〜最終話収録) 
	  20XX年<span>4</span>月<span>4</span>(金)レンタル
	</p>
  </div>

  <div class="oa">
	<p class="product_oa_title">
	  OA オンエア<br>
	</p>

    <div class="line text-center">
      <p>・-・-・-・-・-・-・</p>
    </div>

	<p>
	  <span>XXTV</span>にて
	  20XX年<span>7</span>月<span>15</span>(土)より放送
	</p>

	<p>
	  <span>XXTV</span>にて
	  20XX年<span>1</span>月<span>15</span>(月)より放送
	</p>
  </div>

  <div class="vod">
	<p class="product_oa_title">
	  VOD INFORMATION<br>
    </p>

    <div class="line text-center">
      <p>・-・-・-・-・-・-・</p>
    </div>

    <p>
      <span>レンタル同日以降、順次配信中！</span>
    </p>

    <ul>
      <li>
	    <a href="#unext.url">＊U-NEXT</a>
	  </li>

	  <li>
	    <a href="#RakutenTV.url">＊RakutenTV</a>
	  </li>

	  <li>
	    <a href="#ShowTime.url">＊ShowTime</a>
	  </li>
    </ul>
  </div>
</div>