<div id="story" class="story main_content text-center">
  <h3>Story</h3>

  <p>
  	世界的ベストセラー作家であり、老若男女に人気がある作家XXは、彼の大ファンをストーカーだと勘違いする。<br>
  	彼はサイン会のために訪れたタイで、ある手紙を受け取る。<br>
  	また、ゴーストライターだという謎の男が現れ…。
  </p>

  <div class="line text-center">
    <p>・-・-・-・-・-・-・</p>
  </div>

  <div class="story_more">
    <%= link_to synopsis_path, data: {'turbolinks' => false} do %>
      <div class="story_more_image">
        <p>more...</p>
      </div>
    <% end %>
  </div>
</div>