<div id="story_slide">
  <%= render 'layouts/back_btn' %>
	<div id="stories">
	  <div class="story1">
	    <div class="synopsis text-left">
	      <p>
	      	<strong>第1話</strong><br>
	      	世界的ベストセラー作家であり、老若男女に人気がある作家XX。
	      	彼はサイン会のために訪れたXXXXで、ある手紙を受け取る…。
	      </p>
	    </div>
	  </div>
	  <div class="story2">
	  	<div class="synopsis text-left">
	      <p>
	      	<strong>第2話</strong><br>
	      	世界的ベストセラー作家であり、老若男女に人気がある作家XX。
	      	彼はサイン会のために訪れたXXXXで、ある手紙を受け取る…。
	      </p>
	    </div>
	  </div>
	  <div class="story3">
	  	<div class="synopsis text-left">
	      <p>
	      	<strong>第3話</strong><br>
	      	世界的ベストセラー作家であり、老若男女に人気がある作家XX。
	      	彼はサイン会のために訪れたXXXXで、ある手紙を受け取る…。
	      </p>
	    </div>
	  </div>
	  <div class="story4">
	  	<div class="synopsis text-left">
	      <p>
	      	<strong>第4話</strong><br>
	      	世界的ベストセラー作家であり、老若男女に人気がある作家XX。
	      	彼はサイン会のために訪れたタイで、ある手紙を受け取る…。
	      </p>
	    </div>
	  </div>
	  <div class="story5">
	  	<div class="synopsis text-left">
	      <p>
	      	<strong>第5話</strong><br>
	      	世界的ベストセラー作家であり、老若男女に人気がある作家XX。
	      	彼はサイン会のために訪れたXXXXで、ある手紙を受け取る…。
	      </p>
	    </div>
	  </div>
	  <div class="story6">
	  	<div class="synopsis text-left">
	      <p>
	      	<strong>第6話</strong><br>
	      	世界的ベストセラー作家であり、老若男女に人気がある作家XX。
	      	彼はサイン会のために訪れたXXXXで、ある手紙を受け取る…。
	      </p>
	    </div>
	  </div>
</div>
