<header class="header">
  <div id="menu">
  	<%= render 'layouts/header_list' %>
  </div>

  <div id="hm_icon">
  	<a class="menu_trigger" href="/">
  	  <span></span>
  	  <span></span>
  	  <span></span>
  	</a>
  </div>
</header>
