<ul class="nav_list text-center">
  <li class="nav_list_item">
  	<a href="/">
  	  Top
  	  <p>トップ</p>
  	</a>
  </li>

  <li class="nav_list_item">
  	<a href="#introduction">
  	  Introduction
  	  <p>イントロダクション</p>
  	</a>
  </li>

  <li class="nav_list_item">
  	<a href="#story">
  	  Story
  	  <p>ストーリー</p>
  	</a>
  </li>

  <li class="nav_list_item">
  	<a href="#cast_staff">
  	  Cast<span>&</span>Staff
  	  <p>キャスト&スタッフ</p>
  	</a>
  </li>

  <li class="nav_list_item title_nav">
  	<h2 class="">
   	 ジョットマーイ
   	</h2>
  </li>

  <li class="nav_list_item">
  	<a href="#product_oa">
  	  Product<span>&</span>OA
  	  <p>商品&放送</p>
  	</a>
  </li>

  <li class="nav_list_item">
  	<a href="#gallery">
  	  Gallery
  	  <p>ギャラリー</p>
  	</a>
  </li>

  <li class="nav_list_item">
  	<a href="https://www.youtube.com">
  	  Trailer
  	  <p>予告編</p>
    </a>
  </li>
</ul>